<%- include('../common/head') %>
</head>
<body>
<%- include('../common/nav') %>
<main>
    <% if(products.length) {%>
        <h1>장바구니 목록</h1>
        <ol>
            <% for (let product of products) {%>
                <li>
                    <h3><%= product.title %>(<%= product.quantity%>)</h3>
                    <p><img src="<%= product.imageUrl %>"/></p>
                    <p>가격: <%= product.price %></p>
                    <p>
                        <strong>설명</strong>
                        <span><%= product.description %></span>
                    </p>
                    <form action="/remove-cart-product" method="POST">
                        <button type="submit" class="btn">장바구니에서 삭제</button>
                        <input type="hidden" name="productId" value="<%= product._id%>" />
                    </form>
                </li>
            <% }%>
        </ol>
        <hr />
    <form action="/add-to-orders" method="post">
        <button type="submit" class="btn">주문 하기</button>
        <input type="hidden" name="products" value="<%= products %>" />
    </form>
    <%} else {%>
        <h1> 장바구니에 상품이 없어 !!</h1>
    <%}%>
</main>
<%- include('../common/end') %>