<%- include('../common/head') %>
</head>
<body>
<%- include('../common/nav') %>
<main>
    <% if(products.length) {%>
        <h1><% for (let product of products) {%></h1>
            <p><%= product.title %></p>
            <p><%= product.description %></p>
        <% }%>
    <%} else {%>
        <h1> 등록된 상품이 없어 !!</h1>
    <%}%>
</main>
<%- include('../common/end') %>