<%- include('../common/head') %>
<link rel="stylesheet" href="/css/product.css" />
</head>
<body>
<%- include('../common/nav') %>
<main>
    <form class="product-form" action="<%= data.actionUrl%>" method="POST">
        <div class="form-control">
            <p><label for="title">상품명</label></p>
            <input type="text" name="title" id="title" value="<%= data.product.title%>"/>
            <p><label for="imageUrl">이미지 경로</label></p>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= data.product.imageUrl%>"/>
        </div>
        <div class="form-control">
            <p><label for="price">가격</label></p>
            <input type="text" name="price" id="price" value="<%= data.product.price%>"/>
            <p><label for="description">상품 설명</label></p>
            <textarea name="description" id="description" rows="5"><%= data.product.description%></textarea>
        </div>
        <input type="hidden" value="<%= data.product._id %>" name="productId"/>
        <button type="submit">
            <% if(editMode) {%> 수정 완료<%} else {%> 등록 하기 <% }%>
        </button>
    </form>
</main>
<%- include('../common/end') %>