<%- include('../common/head') %>
</head>
<body>
<%- include('../common/nav') %>
<main>
    <% if(products.length) {%>
        <h1>등록된 상품 목록</h1>
        <ol>
            <% for (let product of products) {%>
                <li>
                    <h3><%= product.title %></h3>
                    <p><img src="<%= product.imageUrl %>"/></p>
                    <p>가격: <%= product.price %></p>
                    <p>
                        <strong>설명</strong>
                        <span><%= product.description %></span>
                    </p>
                    <a href="/admin/edit-product/<%=product.id%>?editMode=true" class="btn">수정</a>
                    <form action="/admin/remove-product" method="POST">
                        <button type="submit" class="btn">삭제</button>
                        <input type="hidden" name="productId" value="<%= product.id%>" />
                    </form>
                </li>
            <% }%>
        </ol>
    <%} else {%>
        <h1> 등록된 상품이 없어 !!</h1>
    <%}%>
</main>
<main>

</main>
<%- include('../common/end') %>